#main{
position:relative;
}
div#first{
background-image: url('https://wallpaperscraft.com/image/canada_alberta_banff_101643_1920x1080.jpg');
opacity:0.2;
width:300px;
height:300px;
}
div#second{
width:300px;
height:300px;
position:absolute;
top: 0;
left:0;
}
